.cart-button{
    /* position: absolute;
    right: 20px;
    top: 20px; */
    margin-right: 10%;
    font-size: 1.4rem;
    color: blue;
    z-index: 3;
}

.cart-button:hover{
    cursor: pointer;
    scale: 1.1;
}

.cart{
    display: none;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: absolute;
    right: 0;
    top: 0px;
    min-height: 100%;
    padding: 30px 20px;
    background-color: black;
    color: white;
    z-index: 2;
}

.cart-button ~ #cartButton:checked ~ .cart{
    display: flex;
    
}
/* .cart-button ~ #cartButton:checked ~ .cart-button{    
    position: absolute !important;
    right: 20px !important;
    top: 10px !important;
} */

.cart ul{
    list-style-type: none;
    
    margin: 0px;
    padding: 0;
}
.cart ul li{
    margin-top: 30px;
}
