.cart-button{
    /* position: absolute;
    right: 20px;
    top: 20px; */
    margin-right: 10%;
    font-size: 1.4rem;
    color: blue;
    z-index: 3;
}

.cart-button:hover{
    cursor: pointer;
    scale: 1.1;
}

.cart{
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0px;
    min-height: 100%;
    width: 300px;
    padding: 30px 20px;
    background-color: #0d1321;
    color: white;
    z-index: 2;
}
.cart strong{
    font-size: 1.3rem;

}

.cart-button ~ #cartButton:checked ~ .cart{
    display: flex;
    
}

.opened-cart{    
    margin-right: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    
}

.cart ul{
    list-style-type: none;
    
    margin: 0px;
    padding: 0;
}
.cart ul .little-text{
    font-size: 1rem;
}
.cart ul li{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
}

.cart ul li img{
    margin: 0 auto;
}

.cart ul li p{
    font-size: 1rem;
    padding: 0;
}

button{
    cursor: pointer;
}

@media (max-width: 425px){
    .cart{
        width: 100vw;
        padding: 0;
        padding-top: 20px;
    }
}