.filters{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
.filters > div{
    display: flex;
    gap: 5px;
}
.filters .is-open{
    display: block;
}
.filter-mobile{
    display: none;

}

input[type="range"] {
    cursor: pointer;
}

select{
    cursor: pointer;
}

@media (max-width: 425px){
    .filters > div{
        display: none;
    }
    .filter-mobile{
        display: block;
    }
    .filters{
        flex-direction: column;
    }
}
