header{
    padding: 10px 0;
    background-color: #1d2d44;

}
.navigation-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    gap: 20px;
    margin: 0 auto;
    padding: 10px 0;

    max-width: 1800px;
    
}

.navigation-bar p{
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    padding-left: 10%;
    color: white;

}
.navigation-bar > div{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navigation-bar input{
    width: 70%;
    max-width: 500px;
    height: 1.5rem;
    padding-left: 8px;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    border: 2px solid transparent;
    outline: none;
    
}
.navigation-bar input:focus{
    border: 2px solid black;
    
}
.navigation-bar > div > button{
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    border: none;
    background-color: white;
    cursor: pointer;
}

.filters{
    color: white;
    max-width: 1800px;
    margin: 0 auto;
}


@media (max-width: 564px) {
    .navigation-bar > div{
        order: 1;
    }
}

