main{
    margin: 0 auto;
    max-width: 1400px;
}
main ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 0;
    place-items: center;
}
main ul li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 300px;
    margin: 0;
    padding: 14px;
    border-radius: 10px;
    background-color: #3e5c76;
}
main ul li p{
    text-align: center;
    margin: 5px;    
}
main ul li p:nth-child(2){
    width: 100%;
    font-weight: bold;  
    font-size: 1.1rem;
}

img {
    object-fit: contain;
    /* agregamos bg-color para que no se vea cortada la imagen */
    background-color: white;
    aspect-ratio: 16/9;
    max-width: 250px;
}

.add-cart{
    background-color: white;
    border-radius: 5px;
    border: 3px solid #1d2d44;
}
.add-cart:hover{
    cursor: pointer;
}

.remove-cart{
    color: white;
    border-radius: 5px;
    border: 3px solid transparent;
    background-color: #1d2d44;
}
.remove-cart:hover{
    cursor: pointer;
}